<div *ngIf="toggleModel" class="crypto_modal">
  <div class="crypto_modal_container">
    <div class="modal_header">
      <p>Select a Currency</p>
      <img (click)="closeModalHandler()" src="{{ closeImg }}" alt="close" />
    </div>
    <input placeholder="Search coin" class="search_crypto" type="text" />
    <div class="coins_container">
      <ul>
        <li class="selected_token">
          <img src="{{ ethereum }}" alt="crypto logo" />
          <p>Eth (Ethereum)</p>
        </li>
        <li>
          <img src="{{ ethereum }}" alt="crypto logo" />
          <p>Eth (Ethereum)</p>
        </li>
      </ul>
    </div>
  </div>
</div>
