nav {
  width: 100%;
  padding: 1rem;
  z-index: 21;
  background-image: linear-gradient(transparent 50%, rgb(255, 255, 255) 50%);
  background-position: 0px 0px;
  background-size: 100% 200%;
  box-shadow: transparent 0px 0px 0px 1px;
  transition: background-position 0.1s ease 0s, box-shadow 0.1s ease 0s;
  background-blend-mode: hard-light;
  position: fixed;
  background: rgba(255, 254, 254, 0.819);

  .outer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .logo {
      cursor: pointer;
    }
    .page_title {
      position: absolute;
      left: 44%;
    }
    .wallet_data {
      display: flex;

      .blockchain_network {
        align-items: center;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        border-radius: 14px;
        color: rgb(0, 0, 0);
        cursor: pointer;
        display: flex;
        font-weight: 500;
        justify-content: space-between;
        padding: 6px 8px;
        width: auto;
        img {
          height: 16px;
          width: 16px;
          margin: 0px 6px;
        }
      }

      .user_data {
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border-radius: 16px;
        white-space: nowrap;
        width: auto;
        height: 40px;
      }
      .user_balance {
        box-sizing: border-box;
        margin: 0px;
        min-width: 0px;
        padding-left: 0.75rem;
        padding-right: 0.5rem;
        font-weight: 500;
      }
      .address {
        display: flex;
        flex-flow: row nowrap;
        -webkit-box-align: center;
        align-items: center;
        padding: 0.5rem;
        border-radius: 14px;
        cursor: pointer;
        user-select: none;
        height: 36px;
        margin-right: 2px;
        margin-left: 1px;
        background-color: rgb(247, 248, 250);
        border: 1px solid rgb(247, 248, 250);
        color: rgb(0, 0, 0);
        font-weight: 500;
      }
    }
  }
}
