<nav>
  <div class="outer_container">
    <div class="logo">
      <img class="logo_img" src="{{ logo }}" alt="logo" />
    </div>
    <h1 class="page_title">SwapDex</h1>
    <div class="wallet_data">
      <div *ngIf="isWalletConnected" class="blockchain_network">
        <img src="{{ image }}" alt="cypto coin" />
        <p>{{ chainName }}</p>
        <!-- <img src="{{ dropdownBlack }}" alt="dropdown" /> -->
      </div>
      <div *ngIf="isWalletConnected" class="user_data">
        <div class="user_balance">{{ balance }} {{ symbol }}</div>
        <div class="address">{{ userWalletAddress | addressConverter }}</div>
      </div>
      <div
        *ngIf="!isWalletConnected"
        (click)="connectWallet()"
        class="connect_wallet_btn"
      >
        <p *ngIf="!connectWalletNavLoader">Connect Wallet</p>
        <app-loader *ngIf="connectWalletNavLoader"></app-loader>
      </div>
      <!-- <div *ngIf="toggleNavNetwork" class="navbar_toggle_network">
        <ul>
          <li class="selectedNetwork" (click)="selectNetwork('mainnet')">
            <img src="{{ ethereum }}" />
            <p>Mainnet</p>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</nav>
