<app-crypto-coins-modal></app-crypto-coins-modal>
<div class="swap_card_outer">
  <div class="swap_card">
    <p class="swap_card_title">Swap</p>
    <div class="swap_card_container">
      <div appHoverBorder class="token_1_input">
        <div class="token_1_input_container">
          <input type="text" placeholder="0.0" />
          <div (click)="toggleModelHandler()" class="change_coin_btn">
            <img class="token_logo" src="{{ ethereum }}" alt="crypto icon" />
            <p>USDT</p>
            <img class="dropdown" src="{{ dropdownBlack }}" alt="dropdown" />
          </div>
        </div>
        <p class="user_balance">Balance: 0</p>
      </div>
      <img class="swap_token_arrow" src="{{ swapIcon }}" alt="swap icon" />
      <div appHoverBorder class="token_1_input token_2_input">
        <div class="token_1_input_container">
          <input type="text" placeholder="0.0" />
          <div (click)="toggleModelHandler()" class="change_coin_btn">
            <img class="token_logo" src="{{ ethereum }}" alt="crypto icon" />
            <p>USDT</p>
            <img class="dropdown" src="{{ dropdownBlack }}" alt="dropdown" />
          </div>
          <!-- <div class="change_coin_btn select_token">
            <p>Select a token</p>
            <img
              class="dropdown"
              src="{{ dropdownWhite }}"
              alt="white dropdown"
            />
          </div> -->
        </div>
      </div>
      <div class="crypto_info">
        <img src="{{ infoIcon }}" alt="info" />
        <p>1 Wmatic = 0.332342342 ETH</p>
      </div>
      <div class="swapdex_btn">Connect Wallet</div>
    </div>
  </div>
</div>
