<div class="swap_card_outer">
  <div class="swap_card">
    <p class="swap_card_title">Swap</p>
    <div class="swap_card_container">
      <div appHoverBorder class="token_1_input">
        <div class="token_1_input_container">
          <input type="text" placeholder="0.0" />
          <div class="change_coin_btn">
            <img
              class="token_logo"
              src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/0xdAC17F958D2ee523a2206206994597C13D831ec7/logo.png"
              alt=""
            />
            <p>USDT</p>
            <img
              class="dropdown"
              src="https://res.cloudinary.com/neerajnegi2603/image/upload/v1654766955/SwapDex/Assets%20Icons/dropdownIcon_wuh67n.svg"
              alt=""
            />
          </div>
        </div>
        <p class="user_balance">Balance: 0</p>
      </div>
      <div appHoverBorder class="token_1_input token_2_input">
        <div class="token_1_input_container">
          <input type="text" placeholder="0.0" />
          <!-- <div class="change_coin_btn">
            <img
              class="token_logo"
              src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/0xdAC17F958D2ee523a2206206994597C13D831ec7/logo.png"
              alt=""
            />
            <p>USDT</p>
            <img
              class="dropdown"
              src="https://res.cloudinary.com/neerajnegi2603/image/upload/v1654766955/SwapDex/Assets%20Icons/dropdownIcon_wuh67n.svg"
              alt=""
            />
          </div> -->
          <div class="change_coin_btn select_token">
            <p>Select a token</p>
            <img
              class="dropdown"
              src="https://res.cloudinary.com/neerajnegi2603/image/upload/v1655227638/SwapDex/Assets%20Icons/whiteDropdown_hdqusl.svg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="swapdex_btn">Connect Wallet</div>
    </div>
  </div>
</div>
