.swap_card_outer {
  display: grid;
  place-items: center;
  height: 100vh;

  .swap_card_title {
    font-size: larger;
    font-weight: 500;
    padding: 1rem;
  }

  .swap_card {
    max-width: 480px;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
      rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .swap_card_container {
    padding: 8px;

    .token_1_input {
      padding: 1rem;
      border-radius: 20px;
      border: 1px solid rgb(255, 255, 255);
      background-color: rgb(247, 248, 250);
      width: initial;
      height: 6.5rem;

      .user_balance {
        text-align: right;
        font-size: small;
      }

      .token_1_input_container {
        display: flex;
      }
      input {
        outline: none;
        border: none;
        width: 100%;
        background-color: rgb(247, 248, 250);
        border-radius: 20px;
        height: 100%;
        font-size: 1.6rem;
        padding: 12px;
      }

      .change_coin_btn {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(237, 238, 242);
        box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
        color: rgb(0, 0, 0);
        cursor: pointer;
        border-radius: 16px;
        outline: none;
        user-select: none;
        border: none;
        font-size: 24px;
        font-weight: 500;
        height: 2.4rem;
        width: initial;
        padding: 0px 8px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-left: 12px;
        visibility: visible;

        p {
          font-size: medium;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
        }

        .token_logo {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
      }
    }

    .token_2_input {
      margin-top: 0.4rem;

      .select_token {
        width: 70%;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(232, 0, 111);
        box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
        color: rgb(255, 255, 255) !important;
        cursor: pointer;
        border-radius: 16px;
        outline: none;
        user-select: none;
        border: none;
        font-size: 24px;
        font-weight: 500;
        height: 2.4rem;
        padding: 0px 8px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-left: 12px;
        visibility: visible;
      }
    }
    .swap_token_arrow {
      width: 40px;
      height: 40px;
      position: absolute;
      z-index: 2;
      left: 48.8%;
      top: 44.5%;
      cursor: pointer;
      transform: rotate(90deg);
      background: rgb(247, 248, 250);
      border-radius: 50%;
      border-radius: 34%;
      border: 3px solid white;
    }
    .crypto_info {
      display: flex;
      align-items: center;
      background-color: rgb(247, 248, 250);
      padding: 0.3rem;
      margin-top: 4px;
      border-radius: 12px;
      img {
        margin-left: 3px;
        margin-right: 1rem;
        width: 20px;
        height: 20px;
      }
    }
    .swapdex_btn {
      margin-top: 8px;
      background-color: rgb(253, 234, 241);
      color: rgb(213, 0, 102) !important;
      font-size: 16px;
      font-weight: 500;
      padding: 16px;
      width: 100%;
      font-weight: 500;
      text-align: center;
      border-radius: 20px;
      outline: none;
      border: 1px solid transparent;
      color: rgb(0, 0, 0);
      text-decoration: none;
      cursor: pointer;
    }
    .swapdex_btn:hover {
      background-color: rgb(249, 201, 219);
    }
  }
}

.select_token_1 {
  background-color: rgb(232, 0, 111) !important;
  width: 70% !important;
  color: white !important;
}

.error_msg {
  padding: 0.3rem;
  color: red;
  font-size: 12px;
  margin-top: 0.5rem;
}
.quotation_data {
  display: flex;
  justify-content: space-between;
  width: 88%;
}
